<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
  </ion-buttons>
    <ion-title>Thông báo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-notification">
  <div class="item-notif">
    <div class="icon">
      <ion-icon name="notifications"></ion-icon>
    </div>
    <div class="title-notif">
        <h1>Sản phẩm sản hết hàng</h1>
        <h3>Sản phẩm sắp hết hàng rồi đó</h3>
        <h5>2 giờ trước</h5>
    </div>
  </div>
  <div class="item-notif">
    <div class="icon">
      <ion-icon name="notifications"></ion-icon>
    </div>
    <div class="title-notif">
        <h1>Sản phẩm sản hết hàng</h1>
        <h3>Sản phẩm sắp hết hàng rồi đó</h3>
        <h5>2 giờ trước</h5>
    </div>
  </div>
</ion-content>
