.conten_suppliers{
    .txt_suppliers{
      .search{
        display: flex;
        font-size: 1rem;
        ion-searchbar{
            margin: 2vh;
            width: 85vw;
            height: 30px;
            --background: white;
            padding: 0;
            border: 1px rgba(112, 112, 112, 0.2) solid;
            border-radius: 5px;
        }
        .select-option{
            margin-top: 1.5vh;
            font-size: 1rem;
            min-width: 10vh;
        }
    }
          .title_txt{
              margin: 2vh;
              font-size: 1rem;
              span{
                  font-size: 1rem;
              }

          }
        //   #myFixZone {
        //     height: 50vh;
        // }
      .txt_name1{
          .txt_name{
              display: flex;
              justify-content: space-between;
                h1{
                    color: #00A859;
                    font-size: 1rem;
                    // font-weight: bold;
                }
                .txt_icon{
                    font-size: 3vh;
                }
            }
          .txt_id_smat{
              display: flex; 
              justify-content: space-between;
                h2{
                    font-size: 0.8rem;
                }
              .txt_gmail{
                p{
                    font-size: 0.8rem;
                    margin-right: 4vh;
                }
              }
            }
      }  
    }
}