<ion-content class="content-report">
  <div class="container">
    <ion-grid >
      <ion-row class="row-report">
        <ion-col size="6" class="content-row">
          <div class="txt-title1">
            <ion-card (click)="goToSystem()">
              <ion-icon name="logo-usd"></ion-icon>
              <div class="txt-card-tt1">
                Cấu Hình
            </div>
            </ion-card>
          </div>
        </ion-col>
        <ion-col size="6" class="content-row">
          <div class="txt-title1" (click)="goToManagement()">
            <ion-card>
              <ion-icon name="cash"></ion-icon>
              <div class="txt-card-tt1">
                Quản Lý
              </div>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="row-report">
        <ion-col size="6" class="content-row">
          <div class="txt-title1">
            <ion-card>
              <ion-icon name="logo-buffer"></ion-icon>
              <div class="txt-card-tt1">
                Nhập Thu Chi Khác
            </div>
            </ion-card>
          </div>
        </ion-col>
        <ion-col size="6" class="content-row">
          <div class="txt-title1">
            <ion-card>
              <ion-icon name="cube"></ion-icon>
              <div class="txt-card-tt1">
                Chương Trình Giảm Giá
            </div>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>  
    </ion-grid>
    </div>
</ion-content>
