<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-buttons class="camera-btn" slot="end" (click)="gotoaddproduct()">
        <ion-icon name="add"></ion-icon>
    </ion-buttons>
      <ion-searchbar placeholder="Tìm sản phâm/mã sản phẩm"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="txt_icon">
    <ion-icon name="barcode"></ion-icon>
  </div>
  <div class="txt_icon1">
    <ion-icon name="barcode"></ion-icon>
  </div>
  <div class="txt_name1">
    <ion-label>Nhà cung cấp</ion-label>
    <ion-label>Adidas - <span>0987654334</span></ion-label>
  </div>
</ion-content>