ion-header {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 19px 0px;
    text-align: left;
    ion-toolbar {
        --border-color: white;
    }
    ion-searchbar{
        width: 85vw;
        height: 7.7vw;
        --background: white;
        padding: 0;
        margin: 0;
        border: 1px rgba(112, 112, 112, 0.2) solid;
        border-radius: 5px;
    }
    ion-icon {
        color: black;
        padding: 0;
        margin: 0;
    }
    ion-buttons{
        margin: 0 1rem;
    }
}
.conteiner_import_cart{
    .txt_scan{
        text-align: -webkit-center;
        ion-icon{
            text-align: center;
            font-size: 15rem;;
        }
    }
    .txt_list_name{
        .txt_supplier_name{
            margin: 2vh;
            display: flex;
            justify-content: space-between;
            ion-label{
                font-size: 0.8rem;
                color: #00A859;
                font-weight: bold   ;
                span{
                    color: #00A859;
                    font-weight: normal;
                }
            }
        }
        .scroll {
            overflow-x: auto;
            position: relative;
            .icon{
                font-size: 2rem;
                color: #DD3341;
                background-color: white;
            }
            .name_title1{
                font-size: 1rem;
                color: #222;
                font-weight: bold;
            }
            .txt_money{
                display: flex;
                // .down_up{
                    display: flex;
                    height: 1.5rem;
                    margin-top: 0.8rem;
                    .name_title{
                        font-size: 0.8rem;
                        width: 35%;
                    }
                   
                    .name_title2{
                        font-size: 0.8rem;
                        color: #00A859;
                        width: 10%;
                        text-align: center;
                    }
    
                    .btn_icon1{
                        border-radius: 100%;
                        width: 10%;
                        height: 15px;
                        padding: 0;
                        margin: 0;
                        text-align: center;
                        flex-grow: 0.3;
                        background-color: white;
                        box-shadow: 2px 2px 5px 0px rgba(168,168,168,1);
                    }
                // }
                .txtname_title{
                    color: #222;
                    font-size: 0.8rem;
                    font-weight: bold;
                    width: 35%;
                    text-align: center;
                }
                
            }
        }
    }
}