<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="overview">
            <ion-icon name="home"></ion-icon>
            <ion-label>Tổng quan</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="report">
            <ion-icon name="menu"></ion-icon>
            <ion-label>Báo cáo</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="products">
            <ion-icon name="map"></ion-icon>
            <ion-label>Sản phẩm</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="sell">
            <ion-icon name="cart"></ion-icon>
            <ion-label>Bán hàng</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="others">
            <ion-icon name="menu"></ion-icon>
            <ion-label>Khác</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>