<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
  </ion-buttons>
    <ion-title>Nhập Hàng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="txt_list_addproduct">
    <ion-card class="txt_icon">
     <img src="../../../assets/img/download.jpg">
    </ion-card>
  </div>
    <div class="txt_name_2">
    <ion-item class="txt_item1">
      <ion-label class="name_1">Tên Sản Phẩm</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item class="txt_item1">
      <ion-label class="name_1">Mã Sản Phẩm/SKU</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item class="txt_item1">
      <ion-label class="name_1">Kích Thước</ion-label>
      <div class="down_up">
        <button class="txt_down">-</button>
          <span>1</span>
          <button class="txt_up">+</button>
        </div>
    </ion-item>
    <ion-item class="txt_item1">
      <ion-label class="name_1">Giá Nhập</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item class="txt_item1">
      <ion-label class="name_1">Giá Bán</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
   
   
      <ion-item class="txt_item1">
        <ion-label class="txt_allow">Cho Phép Bán</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
  </div>
  <div class="add_btn">
    <button>LƯU</button>
  </div>
</ion-content>
