.conteiner_add_pro{
    .txt_list_addproduct{
        text-align: -webkit-center;
        .txt_icon{
            border-radius: 10px;
            height: 15vh;
            width: 15vh;
            ion-icon{
                font-size: 15vh;
                color: #A1A1A1;
            }
        }
    }
    .txt_name_2{
        border-radius: 10px;
        .txt_item1{
            ion-icon {
                font-size: 2rem;
            }
            margin: 2vh;
            .name_1{
                font-size: 1rem;
               color: #999;
               
            }
            ion-input{
                text-align: end;
                font-size: 1rem;
                color:black;
            }
            ion-icon{
                margin-left: 1vh;
            }
            .txt_allow{
                text-align: end;
            }
        }
       
    }
    .add_btn{
        text-align: center;
        button{
            font-size: 1rem;
            color: white;
            width: 20vh;
            background-color: orange;
            border-radius: 10px;
            height: 3rem;
          
        }
    }
}