<ion-header>
  <ion-toolbar>
    <ion-title>Nhập Hàng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="conten_import_detail1">
<div class="txt_import_detail1">
  <div class="txt_import">
    <ion-card class="card1">
      <img src="../../../assets/img/download.jpg">
    </ion-card>
  </div>
  <ion-item class="txt_toggle">
    <ion-label class="txt_name_label">Cho Phép Bán</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <div class="list_name1">
    <ion-item class="name_product1">
      <ion-label class="list_label">Tên Sản Phẩm</ion-label>
      <div class="txt_input">
        <ion-input></ion-input>
      </div>
    </ion-item>
    <ion-item class="name_product1">
      <ion-label class="list_label">Mã Sản Phẩm/SKU</ion-label>
      <div class="txt_input">
        <ion-input></ion-input>
      </div>
    </ion-item>
    <ion-item class="name_product1">
      <ion-label class="list_label" >Số Lượng</ion-label>
      <div class="txt_amount">
      <button class="btn3">+</button>
      <span class="span1">3</span>
      <div class="txt_minus">
        <button class="btn4">-</button>
      </div>
      </div>
    </ion-item>
    <ion-item class="name_product1">
      <ion-label class="list_label">Giá Nhập</ion-label>
      <div class="txt_input">
        <ion-input type="number"></ion-input>
      </div>
    </ion-item>
    <ion-item class="name_product1">
      <ion-label class="list_label">Giá Bán</ion-label>
      <div class="txt_input">
        <ion-input type="number"></ion-input>
      </div>
    </ion-item>
  </div>
  <div class="button1">
    <button class="txt_btn1">Lưu</button>
  </div>
</div>
</ion-content>
