<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cấu Hình</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="container_system">
<div class="txt_img">
  <img src="../../../assets/img/download.jpg">
  <h1>ToTo Lê Văn Sỹ</h1>
</div>
<ion-card class="list_info">
  <div class="list_name_system">
    <h2>Thông Tin Cửa Hàng</h2>
    <ion-item >
      <ion-label class="txtname">Tên Công Ty</ion-label>
     <div class="txtinfo_1">
      <ion-label class="txtname_1">CTy TNHHMTV MOSa</ion-label>
     </div>
    </ion-item>
    <ion-item>
      <ion-label class="txtname">MST</ion-label>
      <div class="txtinfo_1">
        <ion-label class="txtname_1" >3456887654</ion-label>
      </div>
    </ion-item>
    <ion-item>
      <ion-label class="txtname">Email</ion-label>
      <div class="txtinfo_1">
        <ion-label class="txtname_1" >nguenvanteo@gmail.com</ion-label>
      </div>
     
    </ion-item>
    <ion-item>
      <ion-label class="txtname">Địa chỉ</ion-label>
      <div class="txtinfo_1">
        <ion-label  class="txtname_1" >41 Lê Văn Sỹ,P14,Q3</ion-label>
      </div>
    </ion-item>
    <ion-item>
      <ion-label class="txtname">Số Điện Thoại</ion-label>
      <div class="txtinfo_1">
        <ion-label  class="txtname_1" >098765321</ion-label>
      </div>
    </ion-item>
  </div>
</ion-card>
<div class="button_save">
  <button class="btn_save1">Lưu</button>
</div>
</ion-content>
